# Ignore environment variables and system files
.env
__pycache__/
*.pyc
*.pyo
.vscode/
.idea/
.DS_Store
*.log
app.py
new_app.py
Coreassess_prompt.txt
common_ui.py
gts.py
integration.py
vector_db/
freeze.txt
# Ignore temporary folder created for pipreqs
reqtemp/
ai.py
appdev.py
bw.py
coreassess.py
coreassessV2.py
eam.py
eamV2.py
gts.py
gtsV2.py
hana_ee.py
integration.py
integrationV2.py
integrationV3.py