

# streamlit==1.50.0
# python-dotenv==1.1.1
# PyPDF2==3.0.1
# python-docx==1.2.0
# openai==2.3.0
# langchain-openai==0.3.35
# langchain-core==0.3.79
# pinecone==7.3.0
# langchain-pinecone==0.2.13
# langchain-community==0.3.31
# sentence-transformers==5.1.2
# aiohttp>=3.9.5
# openpyxl==3.1.5
# python-pptx
# tabulate

streamlit==1.51.0
openai==2.8.1
python-docx==1.2.0
python-pptx==1.0.2
openpyxl==3.1.5
PyPDF2==3.0.1
xlsxwriter==3.2.9
pandas==2.3.3
numpy==2.3.5
python-dotenv==1.2.1
Pillow==12.0.0
requests==2.32.5
chromadb
sentence-transformers
